# Copy this file to /etc/systemd/system/WaterDispenserServer.service and then
#     sudo systemctl start WaterDispenserServer.service
# and to start on boot:
#     sudo systemctl enable WaterDispenserServer.service
# To consult the log : sudo journalctl -u WaterDispenserServer

[Unit]
Description=Launch the water dispenser server

[Service]
ExecStart=/home/pi/water-dispenser-server/start.sh
WorkingDirectory=/home/pi/water-dispenser-server
User=pi
Group=daemon
Nice=10
SyslogIdentifier=WaterDispenserServer
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
